<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>BlisS Restaurants</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <body>
    <section class="hero is-dark is-medium" id="portada">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        BlisS Restaurants
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span>Home</span>
                        <span>Detail</span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active" id="home">
                            Home
                        </a>
                        <a class="navbar-item" id="about">
                            Detail
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="hero-body">
        <div class="container has-text-right">
            <h1 class="title">
                List of cool Restaurants
            </h1>
        </div>
    </div>
    </section> 
    
    <section class="test">
    {{{body}}}
    </section>
    
    <footer>
        Developed by "To be anounced"
    </footer>
</body>
</html>