li{
    list-style: none;
}

footer{
    background-color: black;
    height:50px;
    color: white;
    display: flex;
    align-items: center;
    bottom: 0;
}

.test {
    height: 750px;
}

button{
    margin-left: 300px;
}